<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f8f8f8;
        margin: 0;
        padding: 0;
      }

      header {
        background-color: #333;
        color: #fff;
        padding: 10px 0;
        text-align: center;
      }

      h1 {
        margin: 0;
        font-size: 24px;
      }

      h3 {
        margin: 10px 0;
        font-size: 18px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;
      }

      ul li {
        display: inline-block;
        margin-right: 10px;
      }

      a {
        text-decoration: none;
        color: #333;
      }

      a:hover {
        color: #666;
      }

      .review {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
      }

      .review-content {
        margin-bottom: 10px;
      }

      .review-actions button {
        margin-right: 5px;
      }
    </style>
  </head>
  <body>
    <a class="back-button" href="<%= books_path %>">Back</a>
    <div class="mid-container">
      <h1><%= @book.name %></h1>
      <h3><%= @book.release.strftime('%B %d, %Y') %></h3>
      <p><%= @book.description %></p>
      <ul>
        <li><%= button_to "Edit", edit_book_path(@book), method: :get %></li>
        <li><%= button_to "Delete", book_path(@book), method: :delete %></li>
      </ul>
      <h2>Reviews</h2>
      <div class="reviews-list">
        <% @book.reviews.each do |review| %>
          <div class="review">
            <div class="review-content">
              <p><%= review.comment %></p>
              <p><strong>Rating:</strong> <%= ('★'*review.star).ljust(5, '☆') %></p>
            </div>
            <div class="review-actions">
              <ul>
                <li><%= button_to "Edit", edit_book_review_path(@book, review), method: :get %></li>
                <li><%= button_to "Delete", book_review_path(@book, review), method: :delete %></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
      <br>
      <h2>Add Reviews</h2>
      <%= form_with(model: [@book, @book.reviews.build], url: book_reviews_path(@book)) do |form| %>
        <%= form.label :comment, "Comment" %><br>
        <%= form.text_area :comment, rows: 4 %>
        <%= params[:review_errors]%><br>
        <br>
        <%= form.label :star, "Star Rating" %><br>
        <%= form.select :star, options_for_select([1, 2, 3, 4, 5]), {} %><br>
        <br>
        <%= form.submit "Submit Review" %>
      <% end %>
    </div>
  </body>
</html>
